<div class="layout">
    <div class="main">
        <div class="side">
            <app-side-menu></app-side-menu>
        </div>

        <div class="content">
            <!-- <app-header [isDarkMode]="isDarkMode" (themeToggle)="toggleTheme()">
            </app-header> -->

            <div class="page">
                <app-header [isDarkMode]="isDarkMode" (themeToggle)="toggleTheme()">
                </app-header>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>